#! /bin/bash
set -euo pipefail

# This script runs on the packer node to set things up, ready to have Ansible connect to it.

sudo dnf install -y epel-release
# sudo dnf config-manager --set-enabled powertools
# sudo dnf install -y kernel-devel-$(uname -r) kernel-headers-$(uname -r)  # For Nvidia drivers, TODO move into docs for that feature
sudo mkdir -p /etc/ansible/facts.d/
echo 'packer' | sudo -S sh -c '
cat > /etc/ansible/facts.d/citc.fact <<EOF
{"csp":"aws", "fileserver_ip":"fs-0264d772fa93c6b40.efs.us-gov-east-1.amazonaws.com", "mgmt_hostname":"mgmt", "ldap_hostname":"mgmt.many-antelope.citc.local", "ldap_dm_password":"TIgQ5DS9xgZgI8ryOuhf" }
EOF'

sudo chmod u=rw,g=,o= /etc/ansible/facts.d/citc.fact
sudo mv /tmp/citc_authorized_keys /root/citc_authorized_keys
